<h1>{{this.getCourse.title}} - Final page</h1>
<hr>
<div class="viewer">
    <h2>Certificate of Completion</h2>
    <div class="info">
        <p class="name">{{this.userName}}</p>
        <p class="course">{{this.getCourse.title}}</p>
        <p class="date">This certificate is awarded to {{this.userName}} for successfully completing the {{this.getCourse.title}}.</p>
    </div>
    <img class="logo" src="./assets/estudy_logo.png"/>
    <div class="signature">
        <p>Nataliia Lynnyk</p>
        <p>Instructor</p>
    </div>
</div>
<button (click)="onClick()">Download</button>