form {
    padding: 10px;
    border: 2px solid #7092be;
    border-radius: 10px;
    background-color: #7092be; 
    height: 400px;
    width: 400px;
    position: relative;
    margin: 120px 37%;
}

h1{
    margin: 10px;
    text-align: center;
}

h3 {
    margin: 5px 15px;
}

button {
    margin: 20px 35%;
    padding: 5px;
    border: 2px solid #cbd7e7;
    border-radius: 5px;
    background-color: #cbd7e7;
    width: 120px;
    height: 40px;
    font-size: 20px;
}

input {
    margin-left: 12px;
    border: 2px solid black;
    border-radius: 5px;
    width: 90%;
    height: 7%;
}

.google {
    height: 60px;
    width: 350px;
    margin-left: 25px;
}

.error {
    color: brown;
    margin: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

input {
    font-size: 20px
}