<div class="chat">
    <ng-template [(ngIf)]="this.isEnglish">
        <h2>Chat</h2>
    </ng-template>
    <ng-template [(ngIf)]="!this.isEnglish">
        <h2>Чат</h2>
    </ng-template>
    <div class="messages">
        <div class="message" *ngFor="let message of this.messages">
            <hr>
            <p>{{message.userName}}</p>
            <p>{{message.text}}</p>
            <hr>
        </div>
    </div>
    <div>
        <textarea type="text" [(ngModel)]="newMessage"></textarea>
        <button (click)="onClick()">⏎</button>
    </div>
</div>