<ul>
    <li *ngFor="let module of course.modules">
        <a routerLink="/course/{{this.userRole}}/{{course.id}}/module/{{module.id}}">{{module.title}}</a>
        <ul>
            <li *ngIf="module.task.title">
                <a routerLink="/course/{{this.userRole}}/{{course.id}}/module/{{module.id}}/task">{{module.task.title}}</a>
            </li>
        </ul>
    </li>
    <li *ngIf="this.userRole == 'student'"><a routerLink="/course/{{this.userRole}}/{{course.id}}/final">
        <span>End of course</span>
    </a></li>
</ul>
<div class="navigate-back">
    <a routerLink="/course/{{this.userRole}}/{{this.course.id}}/main">
        <span>Back to course</span>
    </a>
    <br>
    <a routerLink="/main/{{this.userRole}}">
        <span>Back to main page</span>
    </a>
</div>