<ul>
    <li *ngFor="let module of course.modules">
        <a routerLink="/en/course/{{this.userRole}}/{{course.id}}/module/{{module.id}}">{{module.title}}</a>
        <ul>
            <li *ngIf="module.task.title">
                <a routerLink="/en/course/{{this.userRole}}/{{course.id}}/module/{{module.id}}/task">{{module.task.title}}</a>
            </li>
        </ul>
    </li>
    <li><a routerLink="#">End of course</a></li>
</ul>
<div class="navigate-back">
    <a routerLink="/en/course/{{this.userRole}}/{{this.course.id}}">Back to course</a>
    <br>
    <a routerLink="/en/main/{{this.userRole}}">Back to main page</a>
</div>